@font-face {
	font-family: jamin;
	src: url(../fonts/thesextfont.woff) format("woff");
}

  @font-face {
	font-family: gotham;
	src: url(../fonts/gothamrndmedium.woff) format("woff");
}

  @font-face {
	font-family: gothamlight;
	src: url(../fonts/gothamrndlight.woff) format("woff");  
}

/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
    box-sizing:border-box;  
    margin: 0;
    padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--cursor: pointer;
	--textbutton: white;
	--themacolorregular: black;
	--themacolor-primair: #FF0054;
    --themacolor-secundair: #E6A1C2;
    --themacolor-whiteness: rgb(255, 255, 255);
	--themacolor-a: #5a4f8c;
	--themacolor-even: #f1f1f1;
	--themacolor-odd: white;
	--fontbutton: gothamlight;
    --fontnormal: gotham;
    --fontlight: gothamlight;
	--hover: #51b8b8;
    
}

  

/********/
/* MAIN */
/********/

main {
	background-color: white;
	padding: 2em;
	border-radius: 1em 1em 1em 1em;
	margin: .3em;
	

}
  
main section:nth-of-type(1) {
	margin: auto;
	position: relative;
	width: 96%;
	height: 6em;
	background-color: red;

	overflow: hidden;
}

main section:nth-of-type(1) ul {
	margin: 0;
	padding: 0;
	list-style: none ;
	position: relative;
	height: 6em;
	overflow:hidden;
}

main section:nth-of-type(1) ul li{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: slider 8s infinite linear;
}

main section:nth-of-type(1) li:nth-of-type(1){
	animation-delay: -2s;
}

main section:nth-of-type(1) ul li:nth-of-type(2){
	animation-delay: -4s;
}

main section:nth-of-type(1) ul li:nth-of-type(3){
	animation-delay: -6s;
}

main section:nth-of-type(1) ul li:nth-of-type(4){
	animation-delay: -8s;
}

main section:nth-of-type(1) ul li a{
	display: block;
	width: 100%;
	height: 100%;

}

main section:nth-of-type(1) ul li a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes slider {
	0%, 12.5% {
		transform: translateX(100%);
	}

	25% {
		transform: translateX(0%);
	}

	37.5% {
		transform: translateX(0%);
	}

	50% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(-100%);
	}
}



main section:nth-of-type(2) {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	
	
	
}

main section:nth-of-type(2) h2{
	font-family: var(--fontnormal)sans-serif;
	font-size: 1.5em;
	font-weight: bold;
    height: 2em;
	color: #5a4f8c;
	padding-top: 1em;
}

	
	
main section:nth-of-type(2) ul {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
	
}



main section:nth-of-type(2) li {
	display: flex;
	flex-direction: column;
	max-width: 50%;

	
	
	
}

main section:nth-of-type(2) h3{
	font-family: var(--fontlight), sans-serif;
	line-height: 1em;
	margin-bottom: 0.2em;
	font-weight: 400;
	font-size: .7em;

}

main section:nth-of-type(2) ul li img {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	width: 80%;
	height: 97%; 
	margin: 1em;
	
}
  
main section:nth-of-type(2) ul li a{
	display: flex;
	flex-direction: column-reverse;
	font-family: var(--fontnormal);
	font-weight: 700;
	font-size: 1.2em;
	


	
}


a:hover{
	color: var(--hover);
}
a:focus{
	color: blue;

}

button:hover{
	background-color: blueviolet;
}

button:active{
	background-color: cadetblue;

}
main section:nth-of-type(2) ul li button {
	margin: 1em;
	align-self: flex-start; 
	border: 1px solid #858585;
    border-radius: 4px;
    font-family: var(--fontnormal), sans-serif;
	border: 1px solid #858585;
    padding: 1em 2em;
	background-color: var(--themacolor-whiteness);
	color: var(--themacolor-a);

   

} 
  
main section:nth-of-type(2) ul li button:after{
	/* display: block; */
	content: ""; 
	background-image: url(../images/winkelwagen.png);
	width: 1.5em;
	height: 1.5em;
	background-size: cover;
	position: absolute;


}

/********/
/* FOOTER */
/********/
 
footer section:first-of-type{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--themacolor-whiteness);
	border-radius: 1em 1em 1em 1em;
	margin: 3em .3em 0em .3em;
	

}

footer section:first-of-type section:first-of-type{
	display: flex;
	flex-direction: column;
	width: 90%;
}

footer section:first-of-type section:first-of-type table thead tr{
	height: 4em;
}

footer section:first-of-type section:first-of-type table tbody tr:first-of-type td{
 	text-align: end;
}

footer section:first-of-type section:first-of-type h2{
	font-family: var(--fontnormal), sans-serif;
	font-size: 1.5em;
	font-weight: 700;
    height: 2em;
	color: var(--themacolor-secundair);
	text-align: center;
}



footer section:first-of-type section:first-of-type h3{
	font-family: Helvetica, sans-serif;
	line-height: 1em;
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: .8em;
    padding-top: 2em;
	

}

table {
    border-collapse: collapse;

}

table thead tr th{
    display: table-cell;
    font-family: var(--fontnormal), sans-serif;
    font-size: .8em;
    border-spacing: 0;
    background-color: rgb(221, 220, 220);
	padding-left: 1em; 
} 

table thead tr th:first-of-type{
    text-align: left;
    width: 8em;
}

tr td{
    font-family: var(--fontnormal), sans-serif ;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: .8em;
    text-align: right;

	
	
    
}

select{
    font-size: 1.1em;
    font-weight: 400;
    height: 1.2em;
    width: 7em;
    line-height: 1.5;
    background-origin: content-box;
    border-radius: 0;
	border: 0.1em solid #cacaca;
	


}
    
tbody tr td form select{
	padding: 1em;
	margin-right: 1em;
	margin-left: 0.7em;
}
	
tbody{
    background-color: var(--themacolor-even);
}

footer section:first-of-type section:nth-of-type(2)  {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 2em repeat(3, 1.7em) 3em 3em ;  */
	/* grid-template-rows: 2em repeat(2, 2em) 4em 4em; */
	grid-template-rows: 4em repeat(6, 2em) 4em 4em;
	column-gap: 1em;
	width: 90%;
	padding-top: 1.5em;
}

footer section:first-of-type section:nth-of-type(2) > a {
    font-family: var(--fontlight),sans-serif;
	font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
	color: var(--themacolor-a);
	font-family: var(--fontnormal);
	font-size: 1.2em;
	text-align: center;
	
	
	
} 




footer section:first-of-type section:nth-of-type(2) img{
	width: 100%;
	height: 90%;

	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 8;


}

footer section:first-of-type section:nth-of-type(2) h3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-weight: bold;
	font-size: .9em;
	font-family: var(--fontnormal);
}

footer section:first-of-type section:nth-of-type(2) p:first-of-type{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: .9em;
	font-family: var(--fontlight);
}

footer section:first-of-type section:nth-of-type(2) p:nth-of-type(2){
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	font-size: .9em;
	font-family: var(--fontlight);
}

footer section:first-of-type section:nth-of-type(2) address {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	

}

footer section:first-of-type section:nth-of-type(2) button {
	width: 100%;
	height: 100%;
	grid-row-start: 8;
	grid-row-end: 9;
	margin-top: 2em;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 0.8em;

	


}

footer section:first-of-type section:nth-of-type(2) button:first-of-type {
	grid-column-start: 1;
	grid-column-end: 2;
	border-radius: 4em;
	border:none;
	background-color: var(--themacolor-primair);
	color: var(--textbutton);
	position: relative;
}

footer section:first-of-type section:nth-of-type(2) button:first-of-type:after{
	display: block;
	content: "";
	background-image: url(../images/logowhatsapp.png);
	width: 2em;
	height: 2em;
	background-size: cover;

	position: absolute;
	right: .7em;
	top: calc(50% - 1em);

}

footer section:first-of-type section:nth-of-type(2) button:last-of-type {
	grid-column-start: 2;
	grid-column-end: 3;
	border-radius: 4em;
	border:none;
	background-color: var(--themacolor-primair);
	color: var(--textbutton);

	position: relative;
}

footer section:first-of-type section:nth-of-type(2) button:last-of-type:after{
	display: block;
	content: "";
	background-image: url(../images/logocall.png);
	width: 2em;
	height: 2em;
	background-size: cover;

	position: absolute;
	right: .7em;
	top: calc(50% - 1em);

}
  
footer section:first-of-type section:nth-of-type(3) h3{
    font-family: var(--fontnormal);
    font-size: 1em;
    font-weight: bold;

}



footer section:first-of-type section:nth-of-type(3) table tbody tr td{
	font-family: var(--fontlight);
	font-size: .7em;
	padding-left: 2em;
	padding-right: 6em;
	

}

footer section:first-of-type section:nth-of-type(3) tr:nth-of-type(even){
	background-color: var(--themacolor-even);

}

footer section:first-of-type section:nth-of-type(3) tr:nth-of-type(odd){
	background-color: var(--themacolor-odd);

}



footer section:nth-of-type(2) nav ul li a{
	font-size: .8em;
	font-family: var(--fontlight);
	color: var(--themacolor-whiteness);
	line-height: 2em;

	

}

footer section:nth-of-type(2) nav{
	background-color: #fb9dca;
}


